@import "reset";

$heading_color: #00ff00;
$main_font: Arial, Helvetica, sans-serif;
$heading: orange;

h1 {
    color: $heading_color;
}

@mixin warning {
    color: blue;
    background-color: lime;
}

.danger {
    @include warning;
    font-family: Arial, Helvetica, sans-serif;
}

/* extend */
.jumbotron {
    width: 100%;
    background-color: lightblue;
    border: 2px solid navy;
}

.jumbotron_about {
    @extend .jumbotron;
    color: grey;
}